:root {
  --vp-c-brand-1: #ff7e17;
  --vp-c-brand-2: #ff8700;
  --vp-c-brand-3: #e37800;
  --vp-code-color: #333;
  --vp-button-brand-bg: #ff7e17;

  /* Hero Background Image */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(255, 149, 0, 0.4) 40%,
    rgba(48, 115, 122, 0.2) 50%
  );
  --vp-home-hero-image-filter: blur(44px);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    90deg,
    #ff7e17,
    rgb(84, 218, 233)
  );
}

.dark {
  --vp-code-color: #fff;
}
